{% extends 'base.html.twig' %}
{% block NavBar %} <nav class="navbar navbar-inverse navbar-fixed-top">
    <a href="/register" role="button" class="btn btn-default navbar-btn navbar-right navbarConnexion" id="navbarConnexionLeRetour">S'incrire</a>
    <a href="/login" role="button" class="btn btn-default navbar-btn navbar-right navbarConnexion">
        <span class="glyphicon glyphicon-log-in"></span> Connexion
    </a>
    <a href="/"> <p class="navbar-text navbar-left">SLAP TRACK</p></a>
    <p class="navbar-text navbar-right">Bienvenue {% if is_granted('ROLE_ADMIN') %} Admin {% elseif is_granted('ROLE_USER') %} ! {% endif %}</p>
</nav>
{% endblock %}