{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
    <body class="bodyMembers">
    <div class="col-lg-12 goldenZoneAssoc" id="goldenZoneEvents">
        <div class="container">
            <h1 id="titleMembers">Liste des Membres permanents</h1>
            <div class="col-lg-12 membersDiv">
                <div class="col-lg-4">

                </div>

                {#{% for members in arrayMembers %}#}
                {##}
                {#{% else %}#}
                    {#<tr><td>Aucun Membre n'a été trouvé.</td></tr>#}
                {#{% endfor %}#}
            </div>
        </div>
    </div>

{% endblock %}