{% extends 'layout.html.twig' %}
{% block title %}E4{% endblock %}
{% block body %}
<body class="songsBody">
<div class="container">
    <h1 id="titleSongs">Liste des sons SLAPTRACK</h1>
    <div class="goldenZoneSongs col-lg-12">
        <table class="tableSongs table table-striped">
            <thead class="theadSongs">
            <th>Nom</th>
            <th>Groupe</th>
            <th>Style</th>
            <th>Le son</th>
            </thead>
            <tbody>
                <tr>
                    <td>StairwayToHeaven</td>
                    <td>Led Zeppelin</td>
                    <td>Hard rock</td>
                    <td><a href="bundles/boissieree4/upload/TheTemptations-PapaWasARollingStone.mp3"><span class="glyphicon glyphicon-music"></span> </a></td>
                </tr>
                <tr>
                    <td>StairwayToHeaven</td>
                    <td>Led Zeppelin</td>
                    <td>Hard rock</td>
                    <td><a href="bundles/boissieree4/upload/TheTemptations-PapaWasARollingStone.mp3"><span class="glyphicon glyphicon-music"></span> </a></td>
                </tr>
                <tr>
                    <td>StairwayToHeaven</td>
                    <td>Led Zeppelin</td>
                    <td>Hard rock</td>
                    <td><a href="bundles/boissieree4/upload/TheTemptations-PapaWasARollingStone.mp3"><span class="glyphicon glyphicon-music"></span> </a></td>
                </tr>
                <tr>
                    <td>StairwayToHeaven</td>
                    <td>Led Zeppelin</td>
                    <td>Hard rock</td>
                    <td><a href="bundles/boissieree4/upload/TheTemptations-PapaWasARollingStone.mp3"><span class="glyphicon glyphicon-music"></span> </a></td>
                </tr>
                <tr>
                    <td>StairwayToHeaven</td>
                    <td>Led Zeppelin</td>
                    <td>Hard rock</td>
                    <td><a href="bundles/boissieree4/upload/TheTemptations-PapaWasARollingStone.mp3"><span class="glyphicon glyphicon-music"></span> </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




</body>
{% endblock %}