# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
    MemberPicture_uploader:
          class: Boissiere\E4Bundle\FileUploader
          arguments: ['%memberPicture_directory%']

    EventPicture_uploader:
          class: Boissiere\E4Bundle\FileUploader
          arguments: ['%eventPicture_directory%']

    Songs_uploader:
          class: Boissiere\E4Bundle\FileUploader
          arguments: ['%songs_directory%']